* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
    height: 450px;
  width: 300px;
  border: 1px dotted black;
  background-color: blueviolet;
  border-radius: 10px;
  -webkit-box-shadow: -1px 2px 17px 6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 2px 17px 6px rgba(0, 0, 0, 0.58);
}
#beach-pic {
  width: 100%;
}
.back-page{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}